body {
    background-image: url('fondo.jpg'); /*inspirado en el fondo de Molada xdd*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Papyrus";
    font-size: 50px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1); 
}

h3 {
    text-align: left; 
    font-family: "Papyrus";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1); 
    margin-top: -3px;
    font-size: 25px;
}

#botones {
    position: absolute;
    bottom: 30px;
    padding: 2px;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; 
}

#visualizarPiratas, #añadirPirata, #eliminarPirata, #simularBatalla {
    background-color: rgba(255, 255, 255, 0.522);
    text-align: center;  
    padding: 15px;
    border-radius: 5%;
}

th {
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 15px;
    font-family: "Papyrus";
    font-size: 25px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1); 
}

td {
    padding: 5px;
    padding-top: 1px;
    width: 170px;
    text-align: left;
    border-width: 1px;
    border: outset black;
    border-top: none;
    border-left: none;
}

button {
    display: center;
}

#eliminarPiratasTabla td:nth-child(3) {
    text-align: center; /*Poder alinear unicamente los botones en el centro de la celda*/
}